body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 40px;
}

dt { margin-left: 10px; font-weight: bold; }
dd { margin-left: 25px; }

table {
    width: 90%;
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    border: 0.5px solid black;
    padding: 2px;
    vertical-align: top;
}

th {
    width: 20%;
    background-color: #f4f4f4;
    text-align: left;
    font-weight: bold;
}
