#section,
#about-course,
#about-instructor,
#contact,
#getting-started {
    margin: 50px 15%;
}

#section { width: 50%; }
#getting-started { width: 70%; }

#page-cover-image { width: 40%; margin: 0 auto; }

#cover-image {
    float: right;
    height: 150px;
    margin: 0 0 10px 10px;
}

.timeline {
    position: relative;
    margin: 50px auto;
    height: 100px;
    max-width: 800px;
}
