
<!-- templates/partials/header.html -->
<div id="page-header">
  <div class="row align-items-center">
    <div class="col-6 text-start">
      #
        <img id="college-logo" class="logo img-fluid" src="" alt="College Logo" />
      </a>
    </div>
    <div class="col-6 text-end">
      <figure class="m-0">
        <img id="cover-image" class="img-fluid" src="" alt="Course cover image" />
      </figure>
    </div>
  </div>

  <div class="row mt-3">
    <div class="timeline" id="timeline">
      <div class="line"></div>
      <div id="start-marker" class="marker"></div>
      <div id="end-marker" class="marker"></div>
      <div id="current-marker" class="marker current-marker"></div>

      <div id="start-label" class="timeline-label" aria-live="polite"></div>
      <div id="end-label" class="timeline-label" aria-live="polite"></div>
      <div id="current-label" class="timeline-label current" aria-live="polite"></div>
    </div>
  </div>
</div>
